



/* ---GENERAL--- */

body, html {
  height: 100%;
  width: 100%;
  
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato','Open Sans', Helvetica, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color:black;
	
}

/* fixing flicker */
.home, .about, .portfolio, .contact{
  -webkit-transform:translate3d(0,0,0);
}

/* ---/GENERAL--- */

/* ---NAV BAR--- */

#myNavbar a:hover{
  background-color: #1a1a1a;
}

/* ---/NAV BAR--- */

/* ---HOME SECTION--- */

#intro-message {
  padding-top: 80px;
  color: #bfbfbf;
  font-size: 5em;
  text-shadow: 2px 2px 2px black;
}

#intro-message2 {
  color: #262626;
  font-weight: 600;
  font-size: 150%;
  padding: 20px 0px 15px 0px;
}

.home {
  padding-top: 100px;
  background-color: #999966;
  background-size: cover;
  height: 900px;
  text-align: center;
}

.home-hr{
  width: 100%;
  border-top: 2px rgba(0,0,0,0.4);
  border-bottom: 1px rgba(0,0,0,0.2);
  border-style: solid;

}

.home-menu{
  padding-right: 15px;
}

.home-btn-list li{
  display: inline-block;
  padding-right: 30px;
}

.home-btn-list li, .contact-btn-list li{
  padding-bottom: 20px;
  list-style-type: none;
  
}

/* ---/HOME SECTION--- */


/* ---ABOUT SECTION--- */

.about {
  position: relative;
  background-color: rgb(0, 102, 102);
  background-size: cover;
  height: 850px;
}

.about-myself-row{
  padding-top: 100px;
}

p.about-text{
  font-size: 140%;
  color: white;
  
}

.about-img {
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}


/* ---/ABOUT SECTION--- */


/* ---PORTFOLIO SECTION--- */

.portfolio {
    padding-bottom: 5em;
    overflow: hidden;
    background-color: rgb(153, 51, 51);
    background-size: cover;      
} 

/*
.portfolio-overlay-bg{
  height: 850px;
  background:rgba(0, 0, 0, 0.5);
}
*/
.portfolio-row1{
  padding-top: 50px;
}

.portfolio-row1 p{
  color: white;
  text-shadow: 2px 2px 2px black;
  
}

.portfolio-row1 .portfolio-title{
  font-size: 200%;
}

.portfolio-row1 .portfolio-subtitle{
  font-size: 140%;
}

.portfolio-row2{
  padding-top: 50px;
  
}

.portfolio-row3{
  padding-top: 50px;
}

.portfolio-item-container{
  position: relative;
  border: 1px outset rgba(0, 0, 0, 0.6);
  
}

.portfolio-item-container:hover{
  box-shadow: 12px 5px 5px rgba(0,0,0,0.9);
  transition: 0.3s; 
  
}

/*
.portfolio-item-hover{
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  color: white;
  margin-right: 20px;
}

.portfolio-item-hover i{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.portfolio-item-hover:hover{  
  transition: 0.3s;
  opacity: 0.7;
}
*/
.portfolio-item-title{
  text-align: center;
  position: absolute;
  height: 50px;
  width: 92%;
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  left: 4%;
}

.portfolio-item-title p{
  color: white;
  font-size: 20px;
}

/* ---/PORTFOLIO SECTION--- */


/* ---CONTACT SECTION--- */

.contact {
  background-color: aqua;
  background-size: cover;
  height: 900px;    
}

.contact-overlay-bg{
  height: 900px;
  background:rgba(0, 0, 0, 0.5);  
}

.contact-row{
  padding: 80px;
  padding-top: 200px;
}



/* ---/CONTACT SECTION--- */


/* ---FOOTER--- */

footer {
	  background-color: #cccccc;
    height: 150px;
    padding: 50px; 
}

.footer-list a{
  text-decoration:none;
  color: black;
}

.footer-list a:hover{
  color: gray;
}

#copyright {
  color: #404040;
  font-size: 80%;
}

/* ---/FOOTER--- */


/* ---BUTTONS--- */

.btn {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition-duration: 0.1s; /* this cause the flick */
    transition-property: transform;
    background-color: #bfbfbf;   
}

.btn:hover,
.btn:focus,
.btn:active {
    transform: scale(1.1);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    
}

/* ---/BUTTONS--- */

@media all and (max-width:760px) {
  
   .home{
    padding-top: 30px;
    height: 680px;
   }
  
   .home-btn-list li{ 
     display: block;
   }
  
   #intro-message{
       font-size: 3em;
   }
  
  .contact, .contact-overlay-bg{
       height: 600px;
  }
  
  .contact-row{
      padding-top: 30px;
      text-align: center;
  }
  
  .contact-row ul{
      padding-top: 30px;
  }
  
  
}


